*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    overflow: hidden;
    /* background image */
    /*
    background: url('images/background');
    background-size: cover;
    background-position: center;
    */
}
.container{
    position: relative;
    width: 400px;
    height: 100px;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 20px;
    color: #fff;
    transition: height 0.6s ease;
}
.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        outline: none;
        font-size: 22px;
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 48px 0 42px;
    }
    input::placeholder{
        color: #fff;
        text-transform: capitalize;
    }
    button{
        position: absolute;
        right: 0;
        width: 40px;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 28px;
        color: #fff;
        padding: 0 40px 0 5px;
        cursor: pointer;
    }
    i{
        position: absolute;
        left: 10px;
        font-size: 28px;
    }
}
.weather-box{
    text-align: center;
    margin: 40px 0;
    img {
        width: 40%;
    }
    .temperature{
        position: relative;
        font-size: 64px;
        line-height: 1;
        font-weight: 700;
        margin: 20px 0 6px -30px;
        span{
            position: absolute;
            font-size: 24px;
            margin-left: 4px;
        }
    }
    .description{
        font-size: 22px;
        font-weight: 500;
        text-transform: capitalize;
    }
}
.weather-details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    .humidity,
    .wind{
        display: flex;
        align-items: center;
        width: 50%;
        transform: translateY(-100%);
    }
    .humidity .info-humidity,
    .wind .info-wind{
        transform: translateY(-105%);
        overflow: hidden;
    }
    .humidity{
        padding-left: 20px;
        justify-content: flex-start;
    }
    .wind{
        padding-right: 20px;
        justify-content: flex-end;
    }
    i{
        font-size: 56px;
        margin-right: 10px;
    }
    span{
        display: inline-block;
        font-size: 22px;
        font-weight: 500;
    }
    p{
        font-size: 14px;
        font-weight: 500;
    }
}
.weather-details.active {
    .humidity,
    .wind{
        transform: translateY(0%);
        transition: transform .5s ease;
        transition-delay: .6s;
    }
}
.weather-box,
.weather-details,
.not-found{
    overflow: hidden;
    visibility: hidden;
}
.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
}
.weather-box .box,
.not-found .box{
    transform: translateY(-100%);
}
.weather-box.active .box,
.not-found.active .box {
    transform: translateY(0%);
    transition: transform .5s ease;
    transition-delay: .6s;
}
.weather-box .box .info-weather{
    transform: translateY(-120%);
}
.container.active{
    .weather-box .box .info-weather,
    .weather-details .humidity .info-humidity,
    .weather-details .wind .info-wind{
        transform: translateY(0%);
        transition: transform 1s ease;
    }
}
.not-found{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
    img{
        width: 65%;
    }
    p{
        font-size: 22px;
        font-weight: 500;
        margin-top: 12px;
    }
}
.city-hide{
    display: none;
}
#clone-info-weather,
#clone-info-humidity,
#clone-info-wind{
    position: absolute;
    transform: translateY(-100%);
}
#clone-info-weather .weather{
    transform: translateY(120%);
    transition:  transform 1s ease, opacity 0s;
    transition-delay: 0s, 2s;
}
.weather-box:not(.active) #clone-info-weather .weather{
    opacity: 0;
    transition-delay: 0s;
}
.active-clone#clone-info-weather .weather{
    transform: translateY(0%);
}
#clone-info-humidity span,
#clone-info-wind span{
    transform: translateY(100%);
    transition: transform 1s ease;
}
.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
    transform: translateY(0%);
}
#hourly-forecast {
    margin: 50px 0;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;

    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
#hourly-forecast::-webkit-scrollbar{
    -webkit-appearance: none;
}
#hourly-forecast::-webkit-scrollbar:vertical {
    width: 10px;
}
#hourly-forecast::-webkit-scrollbar-button:increment,
#hourly-forecast::-webkit-scrollbar-button {
    display: none;
}
#hourly-forecast::-webkit-scrollbar:vertical {
    height: 10px;
}
#hourly-forecast::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
#hourly-forecast::-webkit-scrollbar-track {
    border-radius: 10px;
}
.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}
.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
